*{
    margin: 0px;
    padding: 0px;
}
:root {
  --cor-primaria: #ffdd55;
  --cor-secundaria: #000000;
  
}
html{
    
}
img#imagemmobile{ display: block;}

img#imagemgrande { display: none;}
#texto{ display: none;}
body{
    background-color: var(--cor-primaria);
    
}
header{
    background-color: var(--cor-secundaria);
    color: white;
    padding: 2em;
    display: flex;
}
header img{
    border-radius: 50%;
}
header ul{
    list-style: none;
}
header a{
    list-style: none;
    color: whitesmoke;
    padding: 20px;
    font-size: 2em;
    text-decoration: none;
}
main{

}

.section0 h1{
    padding: 0.6em;
    font-size: 1em;
}
.section0 h3{
    color: #525356;
    padding: 0.6em;
}
.section1{
    display: flex;
    gap: 16px;   
}
.section1 p{
    background-color: var(--cor-secundaria);
    color: whitesmoke;
    max-width: 800px;
    font-size: 1.2em;
    letter-spacing: 3px;
    padding: 1em;
    border-radius: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#texto{
    margin: auto;
}
.section1 ul{
    list-style: none;
    
}
.section1 ul li a img{
    border-radius: 50%;
}
.section2 a{
    display: inline-block;
    margin-top: 1.4em;
   background-color: #000000;
   padding: 20px;
   border-radius: 16px;
   text-decoration: none;
   color: whitesmoke;
   
}

header i{
        margin-left: auto;
        
    }
    #burguer{
        font-size: 60px;
    }
    
/* media query    */

@media screen and (min-width: 768px){

    i#burguer{display: none;}

    img#imagemmobile{ display: none;}

    img#imagemgrande { display: block;}

    #texto{ display: block;}

    header#burguer{
        text-align: center;
        margin: auto;
        width: 600px;
        height: auto;
    }
    .material-symbols-outlined{
        width: 600px;
        height: 400px;
    }
    header i{
        margin: auto;
    }
    menu{
        display: block;
    }
    menu > ul > li{
        display: inline-block;
    }
}
.section0{
    font-size: 2em;
}
    .section1{
        align-items: center;  
    }
.section2{
    display: inline;
}